<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.atrs.auth.AuthLoginMapper">

    <resultMap id="authLogin-map" type="com.example.atrs.auth.AuthLogin">
        <id property="membershipNumber" column="customer_no"/>
        <result property="password" column="password"/>
        <result property="lastPassword" column="last_password"/>
        <result property="loginDateTime" column="login_date_time"/>
        <result property="loginFlg" column="login_flg"/>
    </resultMap>

    <!-- ログイン時の会員情報取得 -->
    <select id="findOne" parameterType="java.lang.String" resultMap="authLogin-map">
        SELECT m_l.customer_no,
               m_l.password,
               m_l.last_password,
               m_l.login_date_time,
               m_l.login_flg
        FROM member_login m_l
        WHERE m_l.customer_no = #{customerNo}
    </select>

    <!-- ログイン時の会員ログイン情報更新 -->
    <update id="updateLoginStatus" parameterType="com.example.atrs.auth.AuthLogin">
        UPDATE
            member_login
        SET login_date_time = #{loginDateTime},
            login_flg       = #{loginFlg}
        WHERE customer_no = #{membershipNumber}
    </update>

    <!-- ログアウト時の会員ログイン情報更新 -->
    <update id="updateLogoutStatus" parameterType="com.example.atrs.auth.AuthLogin">
        UPDATE
            member_login
        SET login_flg = #{loginFlg}
        WHERE customer_no = #{membershipNumber}
    </update>

    <!-- 会員ログイン情報を登録 -->
    <insert id="insert" parameterType="com.example.atrs.auth.AuthLogin">
        INSERT INTO member_login
        (customer_no,
         password,
         last_password,
         login_flg)
        VALUES (#{membershipNumber},
                #{password},
                #{lastPassword},
                #{loginFlg})
    </insert>

    <!-- 会員ログイン情報を更新 -->
    <update id="update" parameterType="com.example.atrs.auth.AuthLogin">
        UPDATE member_login
        SET last_password = password,
            password      = #{password}
        WHERE customer_no = #{membershipNumber}
    </update>

</mapper>